<form class="needs-validation" (ngSubmit)="onSubmit(locationFrm)" #locationFrm="ngForm">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Location code</label>
      <i class="required-sign" *ngIf="!location.code">*</i>
      <input type="text" class="form-control" [(ngModel)]="location.code" name="code" id="validationCustom01" placeholder="Location code"
        required>
      <div class="invalid-feedback">
        Code is required 
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Location name</label>
      <i class="required-sign" *ngIf="!location.name">*</i>
      <input type="text" class="form-control" [(ngModel)]="location.name" name="name"  id="validationCustom02" placeholder="Location name"
        required>
      <div class="invalid-feedback">
        Name is required 
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Preview picture</label>
      <input type="file" class="form-control-file" id="validationCustomFile">
    </div>
  </div>
  <button type="submit" [disabled]="locationFrm.invalid" class="btn btn-outline-success">Save</button>
  <button type="button" class="btn btn-outline-secondary btn-cancel" routerLink="/admin/locations">Cancel</button>
</form>