<div class="container">
  <div class="row">
    <ng-container *ngFor="let l of locations; let i = index">
      <div class="col location-item">
        <div class="card" style="width: 21rem;">
          <a class="location-label-anchor" [routerLink]="['/properties/location/', l.id]">
            <img src="../../../assets/imgs/luxury.PNG" alt="location image" class="card-img-top">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a class="location-label-anchor" [routerLink]="['/properties/location/', l.id]">{{l.name}}</a>
            </h4>
            <!-- <button class="btn btn-success" [routerLink]="['/properties/location/', l.id]">View</button> -->
            <br>
          </div>
        </div>
      </div>
      <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>