.locations-card-group {
    margin-top: 2%;
}

.card:hover {
    background-color: beige;
}

.location-item {
    margin-top: 20px;
}

.location-label-anchor {
    font-size: 0.8em;
    text-decoration: none;
}