<div class="row home-slider">
  <div>
    <!-- <img src="../../../assets/imgs/slider01.PNG" class=" home-slider-img img-fluid" alt=""> -->
    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators" *ngIf="images" class="home-slider-img img-fluid">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" alt="Random slide" style="width:100%; height: 100% !important">
        <div class="carousel-caption">
          <h3>Some title</h3>
          <p>some details goes here</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="row home-searcher">
  <form class="form-inline">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Property search</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="location" [(ngModel)]="searchDto.location">
      <option selected>Locations...</option>
      <option *ngFor="let location of locations">{{location.name}}</option>
    </select>
    <!-- If special intern data type area is on or selected, enables area-->
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="subarea" [(ngModel)]="searchDto.subarea">
      <option selected>Subarea...</option>
      <option *ngFor="let subarea of subareas">{{subarea.label}}</option>
    </select>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="type" [(ngModel)]="searchDto.type">
      <option selected>Types...</option>
      <option *ngFor="let type of types">{{type.label}}</option>
    </select>

    <!-- If special intern data type home_to_live is on, appears and enables number of bedrooms and number of bathrooms-->
    <div>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="nbBedrooms" [(ngModel)]="searchDto.nbBedrooms">
        <option selected>Bedrooms...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="nbBathrooms" [(ngModel)]="searchDto.nbBathrooms">
        <option selected>Bathrooms...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="budget" [(ngModel)]="budget">
        <option selected value="">Budget...</option>
        <option value="50000-200000">50.000 - 200.000 e</option>
        <option value="200000-300000">200.000 - 300.000 e</option>
        <option value="300000-400000">300.000 - 400.000 e</option>
        <option value="400000-500000">400.000 - 500.000 e</option>
        <option value="500000-600000">500.000 - 600.000 e</option>
        <option value="600000-700000">600.000 - 700.000 e</option>
        <option value="700000-800000">700.000 - 800.000 e</option>
        <option value="800000-1000000">800.000 - 1.000.000 e</option>
        <option value="1000000-2000000">1.000.000 - 2.000.000 e</option>
        <option value="2000000-5000000">2.000.000 - 5.000.000 e</option>
        <option value="+5000000">+ 5.000.000 e</option>
      </select>
    </div>

    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="ref" placeholder="Ref" [(ngModel)]="searchDto.ref">
    <input type="button" class="btn btn-secondary home-search-btn" (click)="searchProperties()" value="Search">
  </form>

</div>
<div class="home-who-we-are-and-what-offer">
  <article class="home-card-title text-center">
    <h3 class="home-card-title">Welcome to Costa del Sol international estates' site</h3>
    <h4>Properties in Marbella, Costa del Sol and Sotogrande</h4>
    <p>We are a group of people formed by urban and property lawyers and estates very experienced that has a very broad
      range
      of properties in Costa del Sol for investment or second home. We take care about about our product and only
      select
      the best ones with very competitive prices nd quality. Also we help about buying process and visits, checking
      contracts,
      after sales and everything involved in the process.
    </p>
  </article>

</div>
<!-- Go to one of four selected locations. Possibility to choose from backend the four selected locations-->
<div class="home-body-container">

  <div class="all-locations  home-body-card">
    <!--click and go to All locations page-->
    <a routerLink="locations/all">
      <h3 class="home-card-title text-center">All locations</h3>
    </a>
    <div *ngIf="allLocations?.length != 0;else no_available_locations">
      <div class="card" style="width: 18rem;display: inline-block; margin: 10px" *ngFor="let location of allLocations">
        <a [routerLink]="['properties', location.id]">
          <img *ngIf="location.gallery?.images[0]" src="data:image/jpeg;base64,{{location.gallery?.images[0].content}}"
            alt="location image" class="card-img-top">
          <img *ngIf="!location.gallery?.images[0]" src="../../../assets/imgs/no-photo.png" alt="location image"
            class="card-img-top">
        </a>
        <div class="card-body">
          <a [routerLink]="['properties', location.id]">
            <h5 class="card-title">{{location.name}}</h5>
          </a>
        </div>
      </div>
    </div>
    <ng-template #no_available_locations>
      There is no available locations.
    </ng-template>

  </div>

  <!-- First four properties appear automatically are changing every hour or every day -->
  <div class="all-properties  home-body-card">
    <!--click and go to All properties page-->
    <a routerLink="properties/all">
      <h3 class="home-card-title text-center">All properties</h3>
    </a>
    <div *ngIf="allProperties?.length != 0;else no_available_properties">
      <div class="card" style="width: 18rem;display: inline-block; margin: 10px" *ngFor="let property of allProperties">
        <a [routerLink]="['properties', property.id]">
          <img *ngIf="property.gallery?.images[0]" src="data:image/jpeg;base64,{{property.gallery?.images[0].content}}"
            alt="Property image" class="card-img-top">
          <img *ngIf="!property.gallery?.images[0]" src="../../../assets/imgs/no-photo.png" alt="Property image"
            class="card-img-top">
        </a>
        <div class="card-body">
          <a [routerLink]="['properties', property.id]">
            <h5 class="card-title">{{property.title}}</h5>
          </a>
          <p class="card-text">{{property.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Bedrooms: </b>{{property.nbBedrooms}}</li>
          <li class="list-group-item"><b>Bathrooms: </b>{{property.nbBathrooms}}</li>
          <li class="list-group-item">${{property.price}}</li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['properties', property.id]" class="card-link">Details</a>
          <a href="#" class="card-link">Similar properties</a>
        </div>
      </div>
    </div>
    <ng-template #no_available_properties>
      There is no available properties.
    </ng-template>

  </div>

  <div class="new-developments  home-body-card">
    <!--click and go to All developments page-->
    <a routerLink="developments/all">
      <h3 class="home-card-title text-center">New Developments</h3>
    </a>
    <div *ngIf="newDevelopments?.length != 0;else no_available_developments">
      <div class="card" style="width: 18rem;display: inline-block; margin: 10px" *ngFor="let development of newDevelopments">
        <a [routerLink]="['developments', development.id]">
          <img *ngIf="development.gallery?.images[0]" src="data:image/jpeg;base64,{{development.gallery?.images[0].content}}"
            alt="development image" class="card-img-top">
          <img *ngIf="!development.gallery?.images[0]" src="../../../assets/imgs/no-photo.png" alt="development image"
            class="card-img-top">
        </a>
        <div class="card-body">
          <a [routerLink]="['developments', development.id]">
            <h5 class="card-title">{{development.title}}</h5>
          </a>
          <p class="card-text">{{development.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Bedrooms: </b>{{development.nbBedrooms}}</li>
          <li class="list-group-item"><b>Bathrooms: </b>{{development.nbBathrooms}}</li>
          <li class="list-group-item">${{development.price}}</li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['developments', development.id]" class="card-link">Details</a>
          <a href="#" class="card-link">Similar developments</a>
        </div>
      </div>
    </div>
    <ng-template #no_available_developments>
      There is no available developments.
    </ng-template>

  </div>

  <div class="selection-properties  home-body-card">
    <!--click and go to selection properties page-->
    <a routerLink="properties/selection">
      <h3 class="home-card-title">Selection properties</h3>
    </a>
    <div class="row">
      <!-- click and go to frontline beach properties -->
      <div class="col-md-3 col-sm-6 ">
        <div class="card">
          <div class="card-block">
            <img class="card-img-top" src="../../../assets/imgs/frontline_beach.PNG" alt="" class="img-fluid">
            <p class="card-text">Frontline beach</p>
          </div>
        </div>
      </div>
      <!-- click and go to frontline golf properties -->
      <div class="col-md-3 col-sm-6 ">
        <div class="card">
          <div class="card-block">
            <img class="card-img-top" src="../../../assets/imgs/frontline_beach.PNG" alt="" class="img-fluid">
            <p class="card-text">Frontline golf</p>
          </div>
        </div>
      </div>
      <!-- click and go to luxury properties -->
      <div class="col-md-3 col-sm-6 ">
        <div class="card">
          <div class="card-block">
            <img class="card-img-top" src="../../../assets/imgs/frontline_beach.PNG" alt="" class="img-fluid">
            <p class="card-text">Luxury</p>
          </div>
        </div>
      </div>
      <!-- click and go to special offers -->
      <div class="col-md-3 col-sm-6 ">
        <div class="card">
          <div class="card-block">
            <img class="card-img-top" src="../../../assets/imgs/frontline_beach.PNG" alt="" class="img-fluid">
            <p class="card-text">Special offers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>