.home-slider-img{
    max-width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-body-container {
    margin: 50px 70px;
}

.home-body-card {
    margin: 10px 0;
    text-align: center;
}

.home-card-title {
    margin: 3% 0;
    background: #f8f9fa;
    margin: 20px 0;
    padding: 10px 10px 12px 10px;
    text-align: center
}

a {
    text-decoration: none;
}

.home-searcher form{
    background: #f8f9fa !important;
    opacity: 0.8;
    margin:auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.home-who-we-are-and-what-offer{
    padding-top: 2.5rem;
    margin:auto;
}

.selection-properties-list li{
    list-style: none;
}



