<!-- <table class="table table-striped table-bordered table-sm row-border hover display" datatable [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"> -->
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="2">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations">
      <td>{{location.id}}</td>
      <td>{{location.code}}</td>
      <td>{{location.name}}</td>
      <td>
        <span class="link">
          <i class="fa fa-edit"></i>
        </span>
      </td>
      <td>
        <span class="link">
          <i class="fa fa-close"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>