<!-- <table class="table table-striped table-bordered table-sm row-border hover display" datatable [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"> -->
<a routerLink="new" class="add-link">
  <i class="fa fa-plus"></i>
  Add new property
</a>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ref</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Update Date</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="2">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties">
      <td>{{property.id}}</td>
      <td>{{property.ref}}</td>
      <td>{{property.title}}</td>
      <td>{{property.description}}</td>
      <td>{{property.creationDate}}</td>
      <td>{{property.updateDate}}</td>
      <td>{{property.author.firstName}} {{property.author.lastName}}</td>
      <td>
        <span class="link" routerLink="{{property.id}}">
          <i class="fa fa-edit"></i>
        </span>
      </td>
      <td>
        <span class="link" (click)="delete(property.id)">
          <i class="fa fa-close"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>