@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';


body {
    font-family: ubuntu, Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #666666;
}

.card-title, .card-text {
    text-align: center;
}

.price-text {
    float: right;
    font-size: 18px;
    font-weight: 600;
}

th {
    color: white;
}

td, th {
    text-align: center;
}

.link:hover {
    cursor: pointer;
    color: white !important;
}

.add-link {
    margin: 30px 0;
}

.btn-cancel {
    margin: 20px;
}

.required-sign {
    color: red;
}

.form-container {
    margin: 50px;
}